.templates { display: none; }

#game {
    font: 1.5em monospace;
}

.cell {
    float: left;
    height: 1.25em;
    line-height: 1.25em;
    width: 1.25em;
    text-align: center;
 }

.redBackground {
   background-color: red;
}

.blueBackground {
   background-color: blue;
}

.row { clear: both; }
